*{
    padding: 0;
    border: 0;   
}
body{
    background-image: url(image.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flexbox; 
    height: 260px;
    width: 700px;
    background-color: #3559E0;
    justify-content: center;
    align-items: center;
    border: 24px;
    border: 10px;
    padding: 8px;
    border-style: solid;
    border-color:#6495ED;
    border-radius: 16px;
    background-image: none;
}

.container2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flexbox;
    height: 300px;
    width: 600px;
    background-color: #3559E0;
    justify-content: center;
    align-items: center;
    border: 24px;
    border: 10px;
    padding: 8px;
    border-style: solid;
    border-color:#6495ED;
    border-radius: 16px;
    background-image: none;
}
.box1{
    background-color: #F6F5F5;
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border: 10px;
    border-radius: 16px;
    transition: all .5s linear;
  }
  
.box1:hover {
    background-color: red;
    transform: translatex(100%);
  }
.box2{
    background-color: #FFE3CA;
    height:100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    transition: all .5s linear;
}

.box2:hover {
    background-color: red;
    transform: translate(100%);
  }

.box3{
    background-color: #EE99C2;
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    transition: all .5s linear;
}

.box3:hover {
    background-color: red;
    transform: translate(100%);
  }
.box4{
    background-color:#0C359E;
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    transition: all .5s linear;
}
.box4:hover {
    background-color: red;
    transform: translate(100%);
  }
  .box4{
    background-color:#0C359E;
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    transition: all .5s linear;
}
.box4:hover {
    background-color: red;
    transform: translate(100%);
  }
  .box5{
    background-color:#7889b3;
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    transition: all .5s linear;
}
.box5:hover {
    background-color: red;
    transform: translatey(100%);
  }


.para{
    position: relative;
    display: flex;
    justify-content: center;

    word-spacing: 1px;
    z-index: -1;
}

#p1{
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border: 10px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    background-color: #1F254A;
    font-size: 50px;
    align-items: center;
}
#p2{
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border: 10px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    background-color: #474F7A;
    font-size: 50px;
    align-items: center;
}
#p3{
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border: 10px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    background-color: #81689D;
    font-size: 50px;
    align-items: center;
}
#p4{
    height: 100px;
    width: 100px;
    border: 24px;
    padding: 8px;
    border: 10px;
    border: 24px;
    padding: 8px;
    border-radius: 16px;
    background-color: #FFD0EC;
    font-size: 30px;
    align-items: center;
}

 #toggle{
    height: 50px;
    width: 150px;
    border-radius: 50px 50px 50px 50px;
    font-size: 20px;
    background-color: cadetblue;
    color: #F6F5F5;
 }  

 .tile{
height: 80px;
width: 25%;
float: left;
 }
 